

.action-body{
		z-index: 1;
		width: 700px;
		margin: 0 auto;
		margin-top: 20%;
		}


.action-pic1{
		z-index: -1;
		height: 300px;
		width: 400px;
		background-repeat: no-repeat;
		float: right;
		margin: 0 5% 0 0;
		position: relative;
		bottom: 100px;
}

.action-whatyoucando{

		padding: 3% 0 0 0;
		height: 100px;
		width: 800px;
		margin: 0 auto;
}




